.coba {
    border-top: 1px solid #e6e6e6;
    border-bottom: 1px solid #e6e6e6;
    border-right: 1px solid #e6e6e6;
    border-left: 1px solid #e6e6e6;
    padding-top: 20%;

}

.table-shopping td {

    font-size: 16px;
    color: #555555;
    line-height: 5.5;
    padding-top: 37px;
    padding-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;
}

.table-shopping th {
    padding-left: 30px;
    padding-right: 30px;
}

th {

    font-weight: 1000;
}

body {
    font-family: "century gothic";
}