body{
    font-family: "century gothic";
}
.gambar{
    float: left;
    margin-right: 10px;
    width: 150px;    
}
.kecil{
    font-size: 10px;
    color: gray;
}
.card{
    box-shadow: 1px 1px 7px -2px black; 
}