.ukr{
    max-height: 97px;    
}
.ukk{
    height: 330px;
}
form{
    text-transform: capitalize;
    color: #757575;
}
button{
    min-width: 18rem;
    height: 48px;
    background: #ff5722;
    color: #fff;
    font-size: 14px;
}

.tabb{
    max-width: 900px;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    line-height: 23px;
    font-weight: 400;
}
a{
    transition: all .3s ease-in-out;
    border-bottom: 1px solid transparent;
}
a:hover{
    color: rgba(156, 146, 146, 0.678);
}
a .active{
    color: red;
}
.nav .active{
    border-bottom: 1px solid red;    
    color: red;
}
.tab-content{
    color: grey;
}
.nav a:hover{
     
}