.homaku{
background: url('../foto_produk/wall2.jpg') no-repeat center center fixed;
width: 100%;
height: 100%;
background-size: cover;
display: table;
}
.padding {
    padding: 80px 0;    
}
.padding img {
    width: 100%;
}

.landing-text{
    display: table-cell;
    text-align: center;    
    vertical-align: middle; 
    color: rgb(120, 127, 151);
}
.landing-text h2 {
    font-size: 400%;
    font-weight: 700;
}