#home {
    background: url("../foto_produk/slider_1.jpg");
    position: relative;
    padding: 130px;
    width: 100%;
    height: 700px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}



#haunt {
    background: url("../foto_produk/.jpg") no-repeat center center fixed;
    display: table;
    height: 100%;
    position: relative;
    width: 100%;
    background-size: cover;
}

.landing-text {

    text-align: left;
    vertical-align: middle;
    color: rgb(120, 127, 151);
}

.landing-text h2 {
    font-size: 400%;
    font-weight: 700;
}

.padding {
    padding: 80px 0;
}

.padding img {
    width: 100%;
}

#fixed {
    background: url("../foto_produk/wall.jpg") no-repeat center center fixed;
    display: table;
    height: 60%;
    position: relative;
    width: 100%;
    background-size: cover;
}

.fixedd {
    background: url("../foto_produk/wall.jpg") no-repeat center center fixed;
    display: table;
    height: 60%;
    position: relative;
    width: 100%;
    background-size: cover;
}


.tulisan {
    height: 50px;
    line-height: 50px;
    font-size: 13px;
    color: #b5aec4;
    text-transform: uppercase;
}