html, body{
    height: 100%;
    width: 100%;
}

#home{
    background: url("../foto_produk/wall2.jpg") no-repeat center center fixed;
    display: table;
    height: 100%;
    position: relative;
    width: 100%;
    background-size: cover;
}
#haunt{
    background: url("../foto_produk/wall.jpg") no-repeat center center fixed ;
    display: table;
    height: 100%;
    position: relative;
    width: 100%;
    background-size: cover;
}
.landing-text{
    display: table-cell;
    text-align: center;    
    vertical-align: middle; 
    color: rgb(120, 127, 151);
}
.landing-text h2 {
    font-size: 400%;
    font-weight: 700;
}
.padding {
    padding: 80px 0;    
}
.padding img {
    width: 100%;
}

#fixed{
    background: url("../foto_produk/wall.jpg") no-repeat center center fixed;
    display: table;
    height: 60%;
    position: relative;
    width: 100%;
    background-size: cover;
}

footer{
    
    background-color: #23415C;
    padding: 5% 5% 10% 5%;
    color: #fff;    
}

.tulisan{
    height: 50px;
    line-height: 50px;
    font-size: 13px;
    color: #b5aec4;
    text-transform: uppercase;
}