.penerima {
	display: none;
}

li {
	list-style: none;
}

.butt {
	background-color: white;
	margin-top: 0;
	border: none;
	font-size: 15px;
}

.coba {
	border: none;
}

.coba:hover {
	box-shadow: 1px 1px 9px 1px;
}